<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedicineWebApp - Dashboard</title>
  <script src="https://kit.fontawesome.com/ae7adf6d8c.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/ico" href="../images/favicon2.ico">
  <link rel="stylesheet" href="../stylesheets/dashboard.css">
</head>
<body>
  <header>
    <div id="top_part">
      <h3>MedicineWebApp</h3>
      <ul>
        <li><i class="far fa-bell"></i></li>
        <li>
          <p id="profile_symbole"><%= u.prenom[0] %></p>
          <p id="user_text"><%= u.prenom %> <%= u.nom %> <i class="fas fa-sort-down"></i></p>
          <div id="user_menu">
            <a href="/settings"><i class="fas fa-cog"></i> <span>Settings</span></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> <span>Log out</span></a>
          </div>
        </li>
      </ul>
    </div>
    <div id="bottom_part">
      <ul>
        <li class="tab_selector active">
          <i class="far fa-user"></i>
          <h4>Dashboard</h4>
        </li>
        <li class="tab_selector">
          <i class="fas fa-stream"></i>
          <h4>Patient list</h4>
        </li>
        <li class="tab_selector">
          <i class="fas fa-receipt"></i>
          <h4>Invoices</h4>
        </li>
        <li class="tab_selector">
          <i class="fas fa-chart-line"></i>
          <h4>Statistics</h4>
        </li>
      </ul>
    </div>
  </header>
  <!-- TAB PART -->
  <section class="tab active" id="dashboard_tab">
    <h1>Overview</h1>
    <div id="dash_container">
      <div id="left_side">
        <div id="subscription">
          <div id="sub_info">
            <h1>Welcome back, <%= u.prenom %> !</h1>
            <p>Some long and boring description that no one will read</p>
          </div>
          <%- include('premium.svg') %>
          <div id="plan">
            <h1><%= u.plan.toUpperCase() %></h1>
            <% if(u.plan == "vip"){ %>
              <p>Unlimited</p>
            <% }else if(u.plan == "free") { %>
            <% var date =  new Date(); %>
            <% var difftime = Math.abs(date - u.subscribed_at); %>
            <% const diffDays = Math.ceil(difftime / (1000 * 60 * 60 * 24)); %>
              <p><%= 10 - (diffDays - 1)  %> day(s) left</p>
            <% }else { %>
              <p>5€/month</p>
            <% } %>
          </div>
        </div>
        <div id="income_stat">

        </div>
      </div>
      <div id="right_side">
        <h3>History</h3>
        <div id="history_content">
          <% if(suivis.length > 0){ %>
            <% suivis.forEach(function(suivi){ %>
              <% var date = suivi.updated_at.getFullYear()+'-'+suivi.updated_at.getMonth()+'-'+suivi.updated_at.getDate();%>
              <p><%= suivi.motif %> - <%= date %></p>
            <% }) %>
          <% }else{ %>
            <p>No history available</p>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <section class="tab" id="patient_tab">
    <h1>Patients</h1>
  </section>
  <section class="tab" id="invoices_tab">
    <h1>Invoices</h1>
  </section>
  <section class="tab" id="stat_tab">
    <h1>Statistics</h1>
  </section>
  <script src="./javascripts/dashboard.js"></script>
</body>
</html>
