<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <title>MedicineWebApp - Vos patients</title>
    <link rel="stylesheet" href="../stylesheets/list.css">
    <script src="https://kit.fontawesome.com/ae7adf6d8c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/header.css">
</head>
<body>
    <%- include('header.ejs') %>
    <div id="table_container">
        <h2 class="uk-heading-divider">Vos patients</h2>
        <table class="uk-table uk-table-striped uk-table-middle uk-table-responsive">
            <thead>
                <tr>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-shrink"></th>
                    <th class="uk-table-shrink">Nom</th>
                    <th class="uk-table-shrink">Prenom</th>
                    <th class="uk-table-shrink">Téléphone</th>
                    <th class="uk-table-shrink">Mail</th>
                    <th class="uk-table-expand">Adresse</th>
                    <th class="uk-width-small">Action</th>
                </tr>
            </thead>
            <tbody>
                    <% patients.forEach(function(patient) { %>
                    <tr>
                        <td><input class="uk-checkbox" type="checkbox"></td>
                        <td>
                            <% if(patient.sexe == 'H'){ %>
                                <img class="uk-preserve-width uk-border-circle" src="../images/male.png" width="40">
                            <% }else{ %>
                                <img class="uk-preserve-width uk-border-circle" src="../images/female.png" width="40">
                            <% } %>
                        </td>
                        <td><%= patient.nom %></td>
                        <td><%= patient.prenom %></td>
                        <td><%= patient.tel %></td>
                        <td><%= patient.mail %></td>
                        <td><%= patient.adresse %></td>
                        <td><button class="uk-button uk-button-default" type="button" onclick="location.href='/patient/<%= patient.id %>'">Voir plus</button></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
</body>
</html>